# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# VS code java project
bin/
.vscode/

# ignore all jar packages except those in lib
*.jar
!lib/**/*.jar
!build/**/*.jar

*.zip

# macOS Files
.DS_Store

# Windows Files
Thumbs.db